@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@fontsource-variable/google-sans-flex/wght.css";
@import "@fontsource-variable/google-sans-code/wght.css";

@utility commit-hash {
  font-family: "Google Sans Code Variable", monospace;
  @apply bg-fd-accent/50 border-fd-muted-foreground/20 border text-[90%] leading-[1em] font-medium wrap-break-word;
  @apply rounded-md p-0.75 no-underline;
}

html {
  @apply scroll-smooth;
  scrollbar-gutter: stable;
  font-family: "Google Sans Flex Variable", sans-serif;
}

code {
  font-family: "Google Sans Code Variable", monospace;
}

code:not(:has(span)) {
  @apply bg-fd-accent/50 border-fd-muted-foreground/20 text-[90%] leading-[1em] font-medium wrap-break-word;
}

img {
  @apply rounded-3xl;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

a {
  word-break: break-all;
}
